.container,
.container-fluid,
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.fs-6 {
  font-size: 14px !important;
}

.transform-image img {
  transform: translateY(-50%);
}

.transform-image img:hover {
  transform: translateY(-60%);
  transition: transform linear 0.6s;
}

li {
  list-style: none;
}

.border-button {
  border-bottom: 1px solid gray !important;
  outline: none !important;
  box-shadow: unset;
}

.btn:focus {
  box-shadow: unset !important;
}

.youtube {
  position: fixed;
  top: 50px;
  left: 366px;
  z-index: 1000000000;
  transform-origin: top right;
  animation: zoom ease-in 0.25s;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.video {
  margin: auto;
  position: relative;
  width: 643px;
  height: 483px;
  top: 30px;
  left: 30px;
  z-index: 1000000000;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 124, 124, 0.8);
}

.video i {
  position: absolute;
  font-size: 30px;
  right: -18px;
  top: -18px;
}

.clickyoutube,
.clicksize {
  cursor: pointer;
}
.overlay1 {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10000000 !important;
  

}
.check_nhan:checked ~.overlay1 {
  display: block;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.sanpham_hover{
    padding: 10px 20px;
    position: fixed;
    top: 10%;
    left: 31%;
    z-index: 10000000000;
    width: 500px;
    height: 450px;
    overflow: auto;
    transform: translateY(-150%);
    background-color:white;
    transition: transform linear 0.5s;
}
.sanpham_item a{
    display: block;
    width: 200px !important;
}
.check_nhan:checked ~ .sanpham_hover{
    transform: translateY(0%);
}
.border{
  cursor: pointer;
}
.active_nhan{
  background-color:rgba(128, 124, 124, 0.8)
}

.swiper-container4{
  position: relative;
  overflow: hidden;
}